@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@use '@fontsource/fira-mono';

html, body {
    overflow: hidden;
}

@keyframes scaleInFullscreen {
    0% {
        transform: scale(100%, 100%);
    }
    100% {
        transform: scale(var(--x-scale), var(--y-scale));
    }
}

@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari and Opera */
        }
    }

    .backface-hidden {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}